@import 'global';
@import 'animations';
.custom-heading{
    width: 100%;
    h4{
        width: fit-content;
        margin: auto;
        padding: 10px 15px;
        color: #C58325;
        font-size: 20px;
        font-weight: 900;
        position: relative;
        z-index: 9;
        &::after , &::before{
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            z-index: -1;
        }
        &::After{
            border-top: 2px solid #C58325;
            border-left: 2px solid #C58325;
            top: 0;
            left: 0;
        }
        &::before{
            border-bottom: 2px solid #C58325;
            border-right: 2px solid #C58325;
            bottom: 0;
            right: 0;
        }

    }
}
.custom-btn{
    min-width: 120px;
    height: 50px;
    background-color: #C58325;
    width: fit-content;
    color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    z-index: 9;
    &::after , &::before{
        content: '';
        position: absolute;
        height: 100%;
        width: 0%;
        background-color: #fff;
        top: 0;
        z-index: -1;
        transition: all .4s linear;
    }
    &::after{
        left: 0px;
    }
    &::before{
        right: 0px;
    }
    &:hover{
        color: #C58325;
        box-shadow: 0px 0px 10px rgba($color: #C58325 , $alpha: .4);
        &::after , &::before{
            width: 55%;
        }

    }
}
.navbar{
    width: 100%;
    padding-top: 0px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 0px;
    z-index: 99999 !important;
    background-color: rgba($color: #fff , $alpha: 1);
    box-shadow: 0px 0px 10px rgba($color: #000 , $alpha: .1);
    transition: all .4s linear;
    .content{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        .hamburger{
            display: none;
            .line{
                width: 30px;
                height: 3px;
                background-color: #C58325;
                display: block;
                margin: 8px auto;
                transition: all 0.3s ease-in-out;
            }
            &.active{
                transition: all 0.3s ease-in-out;
                transition-delay: 0.6s;
                transform: rotate(45deg);
                .line{
                    &:nth-child(2){
                        width: 0px;
                    }
                    &:nth-child(1) ,
                    &:nth-child(3){
                        transition-delay: 0.3s;
                    }   
                    &:nth-child(1){
                        transform: translateY(6.5px);
                    }
                    &:nth-child(3){
                        transform: translateY(-15px) rotate(90deg);
                    }                             
                }
            }
        }
        .brand-name{
            img{
                width: 100px;
                height: 100px;
                object-fit: contain;
                transition: all .4s linear;
            }
        }
        .navbar-nav{
            flex-direction: row;
            li{
                margin: 0px 0px 0px 15px;
                &:last-child{
                    margin: 0px;
                }
                a{
                    color: #000;
                    font-size: 18px;
                    font-weight: 700;
                }
            }
        }
    }
    &.navbar-fixed-top.scrolled{
        transition: all .4s linear;
        img{
            height: 80px;
        }
    }
}
header{
    width: 100%;
    position: relative;
    z-index: 999;
    overflow: hidden;

    .owl-header{
        .item{
            width: 100%;
            padding: 250px 0px 100px 0px;
            background-size: cover !important;
            background-repeat: no-repeat !important;
            position: relative;
            z-index: 99;
            &::After{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba($color: #000, $alpha: .7);
                top: 0px;
                left: 0;
                z-index: -2;
            }
            &::before{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background: url('../images/curve_shape.png') bottom / contain no-repeat;
                bottom: 0;
                left: 0;
                z-index: -1;
            }
            .content{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                h5{
                    color: #fff;
                    font-size: 20px;
                    font-weight: 700;
                    margin-bottom: 30px;
                    line-height: 2rem;
                }
                .heading{
                    width: 100%;
                    h4{
                        width: fit-content;
                        padding: 20px 40px;
                        position: relative;
                        z-index: 9;
                        color: #fff;
                        font-size: 24px;
                        font-weight: 800;
                        line-height: 2.5rem;
                        &::after{
                            content: '';
                            position: absolute;
                            width: 3px;
                            height: 100%;
                            background-color: #fff !important; 
                            border-radius: 0px 20px 20px 0px;
                            top: 0;
                            right: 0;
                            z-index: -1;
                        }
                        &::before{
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background-color: rgba($color: #C58325 , $alpha: .8);
                            z-index: -1;
                            top: 0;
                            left: 0;
                        }
                    }
                }
                p{
                    color: #f8f8f8;
                    font-size: 15px;
                    font-weight: 500;
                    margin: 30px 0px;
                }

            }

            .image-contnet{
                width: 100%;
                height: 500px;
                border-radius: 0px 50% 50% 50%;
                box-shadow: -10px 10px 10px rgba($color: #C58325 , $alpha: .3);
                overflow: hidden;
                position: relative;
                z-index: 9;
                &::after{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color:  rgba($color: #C58325 , $alpha: .5);
                    top: 0;
                    left: 0;
                    z-index: 3;
                    transition: all .4s linear;
                }
                .video-icon{
                    width: 50px;
                    height: 50px;
                    text-align: center;
                    border-radius: 50%;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                    transition: all 1.2s linear;
                    opacity: 1;
                    z-index: 999;
                    &:before,
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        background-color: #fff;
                        transition: all .4s linear;
                    }
                    &:hover{
                        &:before{
                            background-color: #C58325;
                        }
                        i{
                            color: #fff;
                        }
                        &::after{
                            background-color: #C58325;
                        }
                    }
                    &:before {
                        z-index: 1;
                    }
                
                    &:after {
                        overflow: hidden;
                        z-index: 0;
                        opacity: 1;
                        visibility: visible;
                        animation: pulsecust 1.8s linear;
                        animation-iteration-count: infinite;
                    }
                
                    i {
                        font-size: 1.3rem;
                        color: #C58325;
                        position: absolute;
                        z-index: 2;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%,-50%);
                    }
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: all .4s linear;
                }

                &:hover{
                    &::after{
                        background-color: rgba($color: #fff , $alpha: .4);
                    }

                    .video-icon{
                        &:before ,&::after{
                            background-color: #C58325;
                        }
                        i{
                            color: #fff;
                        }
                    }
                    img{
                        transform: scale(1.3);
                    }
                }
            }
        }
    }
    .owl-theme .owl-nav{
        margin: 0px !important;
    }
    .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev
    {
        position: absolute;
        bottom: 20px;
        width: 50px;
        height: 50px;
        background-color: #C58325;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        border-radius: 5px;
        i{
            color: #fff;
            font-size: 20px;
        }
        &:hover{
            box-shadow: 0px 0px 10px rgba($color: #C58325 , $alpha: .5);
            background-color: #fff;
            i{
                color: #C58325;
            }
        }
    }
    .owl-carousel .owl-nav button.owl-next{
        left: 20px;
    }
    .owl-carousel .owl-nav button.owl-prev{
        left: 100px;
    }
}
.about-us{
    width: 100%;
    padding: 50px 0px 30px 0px;
    background-color: #fff;
    overflow: hidden;
    .content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .custom-heading{
            h4{
                margin: unset !important;
            }
        }
        p{
            color: #808080;
            font-size: 15px;
            font-weight: 500;
            line-height: 2rem;
            margin: 30px 0px;
            text-align: justify;
        }
    }
    .image-content{
        width: 100%;
        height: 500px;
        position: relative;
        z-index: 9;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        img{
            width: 90%;
            height: 90%;
            object-fit: cover;
        }
        &::After , &::before{
            content: '';
            position: absolute;
            width: 80%;
            height: 80%;
            border: 5px solid #C58325;
            z-index: -1;
        }
        &::After{
            top: 0;
            left: 0;
        }
        &::before{
            right: 0;
            bottom: 0;
        }
    }
}
.news{
    width: 100%;
    padding: 50px 0px;
    background-color: #f7f7f7;
    overflow: hidden;

    .owl-carousel .owl-stage{
        padding: 50px 0px;
    }
    .heading{
        h4{
            margin: auto !important;
        }
    }
    .box{
        width: 100%;
        height: 300px;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        transition: all .4s linear;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover !important;
        }
        .overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            top: -100%;
            opacity: 0;
            padding: 10px 10px;
            visibility: hidden;
            left: 0;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            background-color: rgba($color: #fff , $alpha: .8);
            z-index: 999 !important;
            transition: all .4s linear;
            h4{
                color: #C58325;
                font-size: 20px;
                font-weight: 700;
                margin: 0px;
            }
            p{
                color: #000;
                font-size: 15px;
                font-weight: 500;
                line-height: 1.5rem;
                margin: 15px 0px;
                height: 96px;
                overflow: hidden;
            }
            a{
                height: 50px !important;
            }
        }
        .content{
            width: 100%;
            padding: 20px 0px;
            background-color: #fff;
            text-align: center;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 99;
            transition: all .4s linear;
            h4{
                color: #C58325;
                font-size: 20px;
                font-weight: 800;
                margin: 0px;
            }
        }
        &:hover{
            box-shadow: 0px 0px 10px rgba($color: #C58325 , $alpha: .4);
            transform: translateY(-10px);
            .overlay{
                opacity: 1;
                visibility: visible;
                top: 0%;
            }
            .content{
                bottom: -100%;
            }
        }
    }
    .link-box{
        width: 100%;
        background-color: #fff;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        align-items:  center;
        transition: all .4s linear;
        img{
            width: 100%;
            height: 120px;
            object-fit: contain;
        }

        h4{
            
            color: #121212;
            font-size: 20px;
            font-weight: 800;
            padding: 20px 10px;
            margin: 0px !important;
        }
        &:hover{
            transform: translateY(-10px);
            box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: .1);
            img{
                animation: pulse .5s linear;
            }
        }
    }
}
.whitBk{
    width: 100%;
    background-color: #fff !important;
    .heading{
        h4{
            margin-bottom: 50px !important;
        }
    }
    .news-box{
        width: 100%;
        height: 100%;
        border-radius: 15px;
        overflow: hidden;
        position: relative;
        background-color: #fff;
        box-shadow: 0px 0px 10px  rgba($color: #C58325 , $alpha: .1);
        transition: all .3s linear;

        .image-content{
            width: 100%;
            height: 200px;
            overflow: hidden;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .love{
            padding: 5px 20px;
            background-color: #fff;
            box-shadow: 0px 0px 10px rgba($color: #C58325 , $alpha: .50);
            border-radius: 20px;
            position: absolute;
            top: 10px;
            right: 10px;
            display: flex;
            align-items: center;
            align-content: center;

            i{
                color: #C58325;
                font-size: 18px;
                margin-inline-end: 10px;
            }

            span{
                color: #808080;
                font-size: 15px;
                font-weight: 500;
            }
        }

        .content{
            width: 100%;
            padding: 15px 15px;

            .data{
                color: #808080;
                font-size: 15px;
                font-weight: 500;
                margin: 0px;

                i{
                    font-size: 18px;
                    color: #C58325;
                    margin-inline-end: 10px;
                }
            }

            h4{
                color: #121212;
                font-size: 20px;
                font-weight: 900;
                margin: 15px 0px;
            }

            .desc{
                color: #707070;
                font-size: 15px;
                font-weight: 500;
                line-height: 2rem;
                margin-bottom: 15px;
            }

            .custom-btn{
                margin: auto !important;
            }
        }

        &:hover{
            transform: translateY(-10px);
        }
    }
}
.imp-link{
    width: 100%;
    padding: 50px 0px;
    background-color: #fff;
    overflow: hidden;
    .content{
        width: 100%;
        padding: 50px 10px;
        background-color: #f7f7f7;
        border-radius: 5px; 
        .owl-carousel .owl-stage{
            padding: 50px 0px;
        }
        .item{
            margin: 0px 10px;
        }
        .box{
            width: 100%;
            background-color: #fff;
            border-radius: 10px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            text-align: center;
            align-items:  center;
            transition: all .4s linear;
            img{
                width: 100%;
                height: 200px;
                object-fit: cover;
            }
            h4{
                color: #121212;
                font-size: 20px;
                font-weight: 800;
                padding: 20px 10px;
                margin: 0px !important;
            }
            &:hover{
                transform: translateY(-10px);
                box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: .1);
            }
        }
    }
}
.numbers{
    background: transparent url('../images/pattern_data.jpg') center / cover no-repeat;

    .content{
        background-color: transparent;
        padding: 0px !important;
        
        .box{
            padding-top: 20px;
            h3{
                color: #C58325;
                font-size: 30px;
                font-weight: 900;
            }
        }
    }
}
.contact-us{
    width: 100%;
    padding: 100px 0px 40px 0px;
    .custom-heading{
        margin-bottom: 60px !important;
    }
    .form{
        overflow: hidden;
        padding-top: 20px;
        .from-group{
            width: 100%;
            height: 50px;
            position: relative;
            margin-bottom: 5px;
            .form-control{
                width: 100%;
                height: 100%;
                color:#808080;
                padding: 0px  10px !important;
                background-color: #fff;
                border: none;
                &:focus , &:valid{
                    &+ .label{
                        border: none;
                        .label-content{
                           transform: translateY(-80%);
                           color: #3c3950;
                        }
                        &::after{
                            transform: scaleX(1);
                        }
                        &::before{
                            transform: scaleY(1);
                        }
                    }
                }
            }
            .label{
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;
                margin: 0px;
                border: 1px solid #808080;
                &::after{
                    content: '';
                    position: absolute;
                    bottom: 0px;
                    top: 0px;
                    width: 100%;
                    height: 100%;
                    border-top: 1px solid #3c3950;
                    border-bottom: 1px solid #3c3950;
                    transform: scaleX(0);
                    transition: all .4s ease;
                }
                &::before{
                    content: '';
                    position: absolute;
                    top:0;
                    bottom: 0;
                    right: 0px;
                    left: 0px;
                    height: 100%;
                    width: 100%;
                    border-right: 1px solid #3c3950;
                    border-left: 1px solid #3c3950;
                    transform: scaleY(0);
                    transition: all .4s ease;
                }
                .label-content{
                    position: absolute;
                    bottom: 5px;
                    right: 10px;
                    padding: 5px;
                    transition: all .3s ease;
                    background-color: #fff !important;
                    z-index: 99 !important;
                    color: #808080;
                }
            }
            &.textarea{
                height: 100px;
                .form-control{
                    padding-top: 20px !important;
                    resize: none;
                }
                .label{
                    height: 100px;
                    .label-content{
                        bottom: unset;
                        top: 10px;
                    }
                }
            }
        }
        .custom-btn{
            width: 99% !important;
            border: none;
            outline: none;
            margin: auto !important;
        }
    }
    .iframe-content{
        width: 100%;
        height: 500px;
        iframe{
            width: 100%;
            height: 100%;
        }
    }
}
footer{
    width: 100%;
    padding: 100px 0px 60px 0px;
    background: url('../images/pattern.jpg');
    background-size: cover !important;
    background-repeat: no-repeat !important;
    position: relative;
    z-index: 99;
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #C58325;
        opacity: .9;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .content{
        .custom-heading{
            margin-bottom: 15px !important;
            h4{
                margin: unset;
                color: #fff;
                &::after , &::before{
                    border-color: #fff;
                }
            }
        }
        p{
            color: #fff;
            font-size: 14px;
            font-weight: 500;
            line-height: 2rem;
            text-align: justify;
        }
        .footer-link{
            li{
                margin-bottom: 20px;
                padding: 0px 30px;
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    right: 0px;
                    top: 5px;
                    background-color: #fff;
                    border-radius: 4px;
                    transform: rotate(45deg);
                }
                &:last-child{
                    margin: 0px;
                }
                a{
                    color: #fff;
                    font-size: 15px;
                }
            }
        }

        .socail-media{
            width: 100%;
            display: flex;
            align-content: center;
            align-items: center;

            li{
                margin-inline-end: 10px;

                a{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color: #fff;
                    display: flex;
                    align-items: center;
                    align-content: center;
                    justify-content: center;

                    i{
                        font-size: 20px;
                        color: #C58325;
                    }
                }
            }
        }
    }
}
.copyrights{
    width: 100%;
    padding: 12px 0px;
    background-color: #C58325;
    text-align: center;
    p{
        color: #fff;
        font-size: 15px;
        font-weight: 600;
        margin: 0px;
    }
}
.scroll-top-btn {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #C58325;
    color: #fff;
    text-align: center;
    line-height: 50px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 1000;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease-in-out;

    &:hover {
        background: #fff;
        border-radius: 50%;
        color: #C58325;
    }

    i {
        transition: all 0.1s ease;
        position: relative;
        bottom: 4px;
    }
}